.content .rick-and-morty-1{
    background-image: url(../img/rick-and-morty-1.jpg); 
    width: 400px;
    height:225px;
    margin-top:10px;    
}

.content .rick-and-morty-2{
    background-image: url(../img/rick-and-morty-2.jpg); 
    width: 400px;
    height:225px;
    margin-top:10px;    
}

.content .rick-and-morty-3{
    background-image: url(../img/rick-and-morty-3.jpg); 
    width: 400px;
    height:225px;
    margin-top:10px;    
}